{{extend 'layout.html'}}
<h1>Registrar Familiar</h1>

<form class="form-horizontal" action="{{=URL(c="sueldos", f="familiar")}}" enctype="multipart/form-data" method="POST">

  <div class="form-group">
            <label for="campo_obra-social" class="col-sm-2 control-label">Obra Social</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="campo_nrolegajo" placeholder="OSDE">
            </div>
          </div>
     <div class="form-group">
            <label for="campo_cuil" class="col-sm-2 control-label">Domicilio Calle</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="campo_cuil" placeholder="Puerto Argentino">
            </div>
            <label for="campo_dni" class="col-sm-1 control-label">Nro</label>
            <div class="col-sm-1">
                <input type="integer" class="form-control" id="campo_dni" placeholder="12341">
            </div>
           <label for="campo_cextra" class="col-sm-1 control-label">Piso</label>
            <div class="col-sm-1">
                <input type="integer" class="form-control" id="campo_piso" placeholder="1">
            
          </div>
           <label for="campo_cextra" class="col-sm-1 control-label">Depto</label>
            <div class="col-sm-1">
                <input type="string" class="form-control" id="campo_piso" placeholder="1c">
            
         </div>
           <label for="campo_cextra" class="col-sm-1 control-label">Codigo Postal</label>
            <div class="col-sm-1">
                <input type="string" class="form-control" id="campo_piso" placeholder="1759">
            </div>
     </div>
    
     <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Localidad</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_fenac1" placeholder="Gonzalez Catan">
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Email </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_lugnac" placeholder="leo@ejemplo.com">
            </div>
          </div>
    
    <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Telefono</label>
            <div class="col-sm-3">
                <input type="string" class="form-control" id="campo_fenac1" placeholder="Area-434343">
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Celular </label>
            <div class="col-sm-3">
                <input type="string" class="form-control" id="campo_lugnac" placeholder="1132555555">
            </div>
          </div>
    
    <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Estudia</label>
            <div class="col-sm-2">
                <select class="form-control">
                          <option>Si</option>
                          <option>No</option>
                          
               </select>
            </div>
    </div>

 <div class="form-group">
     <div class="col-sm-offset-1 col-sm-11">
</table>
<form class="form-horizontal" action="{{=URL(c="sueldos", f="familiar")}}" enctype="multipart/form-data" method="POST">
      <button type="submit" class="btn btn-default">Volver</button>
       
  </div>
</div>
    <center>
    <button class="btn btn-default" type="submit">Guardar</button>
    </center>
