{{extend 'layout.html'}}
<h1>Registrar Familiar</h1>
{{=form.custom.begin}}


          <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Nro Legajo</label>
            <div class="col-sm-2">
                {{=form.custom.widget.num_legajo}}
            </div>
            <label for="campo_fechaegr" class="col-sm-2 control-label">Dni</label>
            <div class="col-sm-2">
                {{=form.custom.widget.dni}}
            </div>
          </div>
 <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Cuil</label>
            <div class="col-sm-2">
                {{=form.custom.widget.cuil}}
            </div>
            <label for="campo_fechaegr" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-2">
                {{=form.custom.widget.nombre}}
            </div>
          </div>
 <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Apellido</label>
            <div class="col-sm-2">
                {{=form.custom.widget.apellido}}
            </div>
            <label for="campo_fechaegr" class="col-sm-2 control-label">Fecha Nacimiento</label>
            <div class="col-sm-2">
                {{=form.custom.widget.fe_nac}}
            </div>
          </div>
 <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Lugar Nacimiento</label>
            <div class="col-sm-2">
                {{=form.custom.widget.lu_nac}}
            </div>
            <label for="campo_fechaegr" class="col-sm-2 control-label">Estado Civil</label>
            <div class="col-sm-2">
                {{=form.custom.widget.est_civ}}
            </div>
          </div>
 <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Domicilio Calle</label>
            <div class="col-sm-2">
                {{=form.custom.widget.domicilio_calle}}
            </div>
            <label for="campo_fechaegr" class="col-sm-2 control-label">Domicilio Numero</label>
            <div class="col-sm-2">
                {{=form.custom.widget.domicilio_numero}}
            </div>
          </div>
      {{=form.custom.submit}}
</div>
{{=form.custom.end}}
