{{extend 'layout.html'}}
<h1>Registrar Familiar</h1>
        <div class="form-group">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Nro Legajo</label>
            <div class="col-sm-1">
                <input type="integer" class="form-control" id="campo_nrolegajo" placeholder="0001">
            </div>
          </div>
     <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Nombres</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_nombre" placeholder="José">
            </div>
       </div>
           <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Apellidos</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_apellido" placeholder="Ortiz">
            </div>
     </div>

              <div class="form-group">
            <label for="campo_cuil" class="col-sm-2 control-label">Cuil</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_cuil" placeholder="20235554442">
            </div>
            <label for="campo_dni" class="col-sm-2 control-label">Dni</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_dni" placeholder="23555444">
            </div>
           <label for="campo_cextra" class="col-sm-2 control-label">Parentezco</label>
            <div class="col-sm-2">
                <select class="form-control">
                          <option>Hijo</option>
                          <option>Conyuge</option>
                          <option>Padre a Cargo</option>
               </select>
            </div>
          </div>
     <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Fecha Nacimiento</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="campo_fenac1" placeholder="01/01/1981">
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Lugar </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_lugnac" placeholder="Buenos Aires">
            </div>
          </div>
     <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Estado Civil</label>
            <div class="col-sm-3">
                <select class="form-control">
                          <option>Casado</option>
                          <option>Soltero</option>
                          <option>Viudo</option>
               </select>
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Edad </label>
            <div class="col-sm-3">
                <input type="integer" class="form-control" id="campo_lugnac" placeholder="18">
            </div>
          </div>
    <div class="form-group">
            <label for="campo_obra-social" class="col-sm-2 control-label">Obra Social</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="campo_nrolegajo" placeholder="OSDE">
            </div>
          </div>
     <div class="form-group">
            <label for="campo_cuil" class="col-sm-2 control-label">Domicilio Calle</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="campo_cuil" placeholder="Puerto Argentino">
            </div>
            <label for="campo_dni" class="col-sm-1 control-label">Nro</label>
            <div class="col-sm-1">
                <input type="integer" class="form-control" id="campo_dni" placeholder="12341">
            </div>
           <label for="campo_cextra" class="col-sm-1 control-label">Piso</label>
            <div class="col-sm-1">
                <input type="integer" class="form-control" id="campo_piso" placeholder="1">
            
          </div>
           <label for="campo_cextra" class="col-sm-1 control-label">Depto</label>
            <div class="col-sm-1">
                <input type="string" class="form-control" id="campo_piso" placeholder="1c">
            
         </div>
           <label for="campo_cextra" class="col-sm-1 control-label">Codigo Postal</label>
            <div class="col-sm-1">
                <input type="string" class="form-control" id="campo_piso" placeholder="1759">
            </div>
     </div>
    
     <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Localidad</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_fenac1" placeholder="Gonzalez Catan">
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Email </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_lugnac" placeholder="leo@ejemplo.com">
            </div>
          </div>
    
    <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Telefono</label>
            <div class="col-sm-3">
                <input type="integer" class="form-control" id="campo_fenac1" placeholder="Area-434343">
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Celular </label>
            <div class="col-sm-3">
                <input type="integer" class="form-control" id="campo_lugnac" placeholder="1132555555">
            </div>
          </div>
    
    <div class="form-group">
            <label for="campo_fenac1" class="col-sm-2 control-label">Estudia</label>
            <div class="col-sm-2">
                <select class="form-control">
                          <option>Si</option>
                          <option>No</option>
                          
               </select>
            </div>
    </div>
