{{extend 'layout.html'}}
<h1>Formulario Horas</h1>
{{=form.custom.begin}}

          <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Nro Legajo</label>
            <div class="col-sm-2">
                {{=form.custom.widget.nro_legajo}}
            </div>
          </div>
           <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Mes</label>
            <div class="col-sm-2">
                {{=form.custom.widget.mes_trab}}
            </div>
          </div>
            <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Semana</label>
            <div class="col-sm-2">
                {{=form.custom.widget.semana}}
            </div>
          </div>
            <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Horas trabajadas</label>
            <div class="col-sm-2">
                {{=form.custom.widget.horas_trab}}
            </div>
          </div>
            <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Horas extras</label>
            <div class="col-sm-2">
                {{=form.custom.widget.horas_extras}}
            </div>
          </div>
           {{=form.custom.submit}}
 </div>

{{=form.custom.end}}
