{{extend 'layout.html'}}
<h1>Formulario Horas</h1>

<form class="form-horizontal">

          <div class="form-group">
             <label for="campo_cliente" class="col-sm-2 control-label">Nro de Legajo</label>
            <div class="col-sm-1">
                <input type="integer" class="form-control" id="campo_cliente" placeholder="00001">
            </div>
             <label for="campo_fecha" class="col-sm-3 control-label">Mes</label>
            <div class="col-sm-3">
                 <select class="form-control">
                          <option>Enero</option>
                          <option>Febrero</option>
                          <option>marzo</option>
                          <option>Abril</option>
                          <option>Mayo</option>
                          <option>Junio</option>
                          <option>Julio</option>
                          <option>Agosto</option>
                          <option>Septiembre</option>
                          <option>Octubre</option>
                          <option>Noviembre</option>
                          <option>Diciembre</option>
               </select>
            </div>
          </div>
           <div class="form-group">
             <label for="campo_fecha" class="col-sm-2 control-label">Nro Semana</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="1">
             </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Trabajadas</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="40">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Extras</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="4">
            </div>
          </div>
         <div class="form-group">
              <label for="campo_fecha" class="col-sm-2 control-label">Nro Semana</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="2">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Trabajadas</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="40">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Extras</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="4">
            </div>
         </div>
    <div class="form-group">
              <label for="campo_fecha" class="col-sm-2 control-label">Nro Semana</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="3">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Trabajadas</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="40">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Extras</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="4">
            </div>
         </div>
    <div class="form-group">
              <label for="campo_fecha" class="col-sm-2 control-label">Nro Semana</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="4">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Trabajadas</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="40">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Extras</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="4">
            </div>
         </div>
    <div class="form-group">
              <label for="campo_fecha" class="col-sm-2 control-label">Nro Semana</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="5">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Trabajadas</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="40">
            </div>
            <label for="campo_fecha" class="col-sm-2 control-label">Horas Extras</label>
            <div class="col-sm-2">
                <input type="integer" class="form-control" id="campo_fecha" placeholder="4">
            </div>
         </div>
           <button class="btn btn-default" type="submit">Guardar</button>
</form>
