{{extend 'layout.html'}}
<h1>Registrar Legajo</h1>


    


{{=form.custom.begin}}


          <div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Nro Legajo</label>
            <div class="col-sm-2">
                {{=form.custom.widget.nro_legajo}}
            </div>
            <label for="campo_fechaegr" class="col-sm-2 control-label">Fecha Egreso</label>
            <div class="col-sm-2">
                {{=form.custom.widget.fecha_egreso}}
            </div>
          </div>

              <div class="form-group row">
            <label for="campo_cuil" class="col-sm-2 control-label">CUIL</label>
            <div class="col-sm-2">
                {{=form.custom.widget.cuil}}
            </div>
            <label for="campo_dni" class="col-sm-2 control-label">DNI</label>
            <div class="col-sm-2">
                {{=form.custom.widget.dni}}
            </div>
           <label for="campo_cextra" class="col-sm-2 control-label">Corresponde Hs Extras</label>
            <div class="col-sm-2">
                {{=form.custom.widget.corresponde_hs_extra}}
            </div>
          </div>
<div class="form-group row">
            <label for="campo_nombre" class="col-sm-2 control-label">Nombres</label>
            <div class="col-sm-2">
                {{=form.custom.widget.nombres}}
            </div>
            <label for="campo_nombre" class="col-sm-2 control-label">Apellidos</label>
            <div class="col-sm-2">
                {{=form.custom.widget.apellido}}
            </div>
          </div>
 <div class="form-group row">
            <label for="campo_fenac1" class="col-sm-2 control-label">Fecha Nacimiento</label>
            <div class="col-sm-2">
                {{=form.custom.widget.fecha_nacimiento}}
            </div>
            <label for="campo_lugnac" class="col-sm-2 control-label">Lugar Nacimiento</label>
            <div class="col-sm-2">
                {{=form.custom.widget.lugar_nacimiento}}
            </div>
          </div>

<div class="form-group row">
            <label for="campo_estciv" class="col-sm-2 control-label">Estado Civil</label>
            <div class="col-sm-2">
                {{=form.custom.widget.estado_civil}}
           
            </div>
    <label for="campo_cat" class="col-sm-2 control-label">Categoría</label>
            <div class="col-sm-2">
                {{=form.custom.widget.categoria}}
            </div>
    </div>

<div class="form-group row">
            <label for="campo_estciv" class="col-sm-2 control-label">Domicilio calle</label>
            <div class="col-sm-2">
                {{=form.custom.widget.domicilio_calle}}
            </div>
            <label for="campo_edad" class="col-sm-2 control-label"> Domicilio numero</label>
            <div class="col-sm-2">
                {{=form.custom.widget.numero_calle}}
            </div>
    <label for="campo_cat" class="col-sm-1 control-label">piso</label>
            <div class="col-sm-1">
                {{=form.custom.widget.piso}}
            </div>
    <label for="campo_cat" class="col-sm-1 control-label">depto</label>
            <div class="col-sm-1">
                {{=form.custom.widget.depto}}
    </div>
</div>
<RIGHT>
     <div class="col-sm-12">

          <button  type="submit" class="btn btn-default">siguiente </button> 
     </div>
    
</div>
</RIGHT>
{{=form.custom.end}}
