{{extend 'layout.html'}}
<h1>Reporte Empleados</h1>
<table class="table"> 
    <caption>Optional table caption.
    </caption>
    <thead> 
        <tr> <th>#</th> <th>Nro Legajo</th> <th>Apellido y Nombre</th> <th>FE Ingreso</th> </tr> 
    </thead> 
        <tbody> <tr> <th scope="row">1</th> <td>1</td> <td>Rodriguez Javier</td> <td>25/08/2016</td> </tr> <tr> <th scope="row">2</th> <td>2</td> <td>Daurich Leonel</td> <td>22/07/2016</td> </tr> <tr> <th scope="row">3</th> <td>3</td> <td>Reingart Mariano</td> <td>19/01/2014</td> 
        </tr> 
       </tbody> 
</table>
