{{extend 'layout.html'}}
<h1>Criterios de busqueda</h1>
    <caption>Seleccionar Reporte
    </caption>
<form class="form-horizontal" action="{{=URL(c="sueldos", f="reportes_familiares")}}" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="familia_menor21"> Familiares menores de 21 años
        </label>
      </div>
    </div>
  </div>
    
     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="familia_estudian"> Familiares que estudian
        </label>
      </div>
        </div>
     </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="familiar_distdom"> Familiares con distinto domicilio
        </label>
      </div>
        </div>
     </div>
    
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Generar Reporte</button>
    </div>
  </div>
</form>
