{{extend 'layout.html'}}
<h1>Reporte Familiares</h1>
<table class="table"> 
    <caption>{{=titulo}}</caption>
    <thead> 
        <tr> <th>#</th> <th>Nro Legajo Titular</th> <th>Nombre y Apellido</th> <th>Estudia</th> <th>Edad</th> <th>Domicilio</th></tr> 
    </thead> 
        <tbody> {{for i, reg_familiar in enumerate(lista_familiares):}}
            <tr> <th scope="row">{{=i+1}}</th> <td>{{=reg_familiar.familiares.num_legajo}}</td> <td>{{=reg_familiar.familiares.nombre}} {{=reg_familiar.familiares.apellido}}</td> <td>{{=reg_familiar.familiares.estudia}}</td> <td>{{=reg_familiar.familiares.edad}}</td> <td>{{=reg_familiar.familiares.domicilio_calle}} {{=reg_familiar.familiares.domicilio_numero}}</td>
                {{pass}}
       </tbody> 
</table>
<form class="form-horizontal" action="{{=URL(c="sueldos", f="reportes_familiares2")}}" enctype="multipart/form-data" method="POST">
      <button type="submit" class="btn btn-default">Regresar a Criterio de búsqueda</button>
</form>
