{{extend 'layout.html'}}
<h1>Reporte Familiares</h1>
<table class="table"> 
    <caption>Reporte Familiares por fecha</caption>
    <thead> 
        <tr> <th>#</th> <th>Nro Legajo</th> <th>Apellido y Nombre</th> <th>Estudia</th> </tr> 
    </thead> 
        <tbody> {{for i, reg_familiar in enumerate(lista_familiares):}}
            <tr> <th scope="row">{{=i}}</th> <td>{{=reg_familiar.num_legajo}}</td> <td>{{=reg_familiar.nombre}} {{=reg_familiar.apellido}}</td> <td>{{=reg_familiar.edad}}</td>
                {{pass}}
       </tbody> 
</table>
<form class="form-horizontal" action="{{=URL(c="sueldos", f="reportes_familiares2")}}" enctype="multipart/form-data" method="POST">
      <button type="submit" class="btn btn-default">Regresar a Criterio de búsqueda</button>
</form>
