{{extend 'layout.html'}}

<center> <h1>VISTA PREVIA LEGAJO </h1> </center>

<div class="form-group row">
 <label for="campo_fechaegr" class="col-sm-1 control-label">Imagen</label>
            <div class="col-sm-1">
                    <img src="{{=URL(c='default', f='download', args=recordset.image)}}",iframe(src, width=150, height=150)>
                
            </div>
    </div>





<div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Nro Legajo</label>
            <div class="col-sm-6">
                {{=recordset.num_legajo}}
            </div>
    </div>
<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Apellido</label>
            <div class="col-sm-1">
                {{=recordset.apellido}}
                
            </div>
    </div>

<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-1">
                {{=recordset.nombre}}
                
            </div>
    </div>

<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Cuil</label>
            <div class="col-sm-3">
                {{=recordset.cuil}}
              
                
 </div>
    </div>
   <div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Nro documento</label>
            <div class="col-sm-3">
                {{=recordset.dni}}
           
    </div>
</div>

 <div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Fecha Nacimiento</label>
            <div class="col-sm-3">
                {{=recordset.fe_nac}}
           
    </div>
</div>

 <div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Lugar Nacimiento</label>
            <div class="col-sm-1">
                {{=recordset.lu_nac}}
              
    </div>
</div>

 <div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Estado Civil</label>
            <div class="col-sm-1">
                {{=recordset.est_civ}}
         
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Domicilio Calle</label>
            <div class="col-sm-2">
                {{=recordset.dom_calle}}


    </div>
</div>


<div class="form-group row">
     <label for="campo_fechaegr" class="col-sm-2 control-label">Domicilio Numero</label>
            <div class="col-sm-1">
                {{=recordset.dom_numero}}
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Piso</label>
            <div class="col-sm-1">
                {{=recordset.piso}}
                
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Departamento</label>
            <div class="col-sm-1">
                {{=recordset.depto}}
                
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Localidad</label>
            <div class="col-sm-2">
                {{=recordset.localidad}}
                
    </div>
</div>




<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Codigo Postal</label>
            <div class="col-sm-1">
                {{=recordset.codigo_postal}}
                
    </div>
</div>

<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Correo Electronico</label>
            <div class="col-sm-1">
                {{=recordset.email}}
                
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Telefono</label>
            <div class="col-sm-1">
                {{=recordset.telefono}}
                
    </div>
</div>

<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Celular</label>
            <div class="col-sm-1">
                {{=recordset.celular}}
                
    </div>
</div>




<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Fecha Ingreso</label>
            <div class="col-sm-1">
                {{=recordset.fecha_ingreso}}
                
    </div>
</div>



<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Estudia</label>
            <div class="col-sm-1">
                {{=recordset.estudia}}
                
    </div>
</div>

<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Horas Extras</label>
            <div class="col-sm-1">
                {{=recordset.horas_extras}}
                
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Categoria</label>
            <div class="col-sm-2">
                {{=recordset.categoria}}
                
    </div>
</div>


<div class="form-group row">
   <label for="campo_fechaegr" class="col-sm-2 control-label">Obra Social</label>
            <div class="col-sm-1">
                {{=recordset.obra_social}}
                
    </div>
</div>





<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Fecha Egreso</label>
            <div class="col-sm-1">
                {{=recordset.fecha_egreso}}
                
    </div>
</div>


<div class="form-group row">
     <label for="campo_fechaegr" class="col-sm-2 control-label">Alta Temprana</label>
            <div class="col-sm-1">
                {{=recordset.alta_temprana}}
                
    </div>
</div>



<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Fotocopia Dni</label>
            <div class="col-sm-1">
                {{=recordset.fotocopia_dni}}
                
    </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Constancia Cuil</label>
            <div class="col-sm-1">
                {{=recordset.constancia_de_cuil}}
    
                
    </div>
</div>

<div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Fotocopia Dni Hijos</label>
            <div class="col-sm-2">
                  {{=recordset.fotocopia_dni_hijos}}
            </div>
</div>

<div class="form-group row">
<label for="campo_fechaegr" class="col-sm-2 control-label">Fotocopia Dni Conyuge</label>
            <div class="col-sm-2">
                 {{=recordset.fotocopia_dni_conyuge}}
                </div>
    </div>



<div class="form-group row">
                   <label for="campo_fechaegr" class="col-sm-2 control-label">Constancia Cuil Hijos</label>
            <div class="col-sm-2">
                 {{=recordset.constancia_cuil_hijos}}
            </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Constancia Cuil Conyuge</label>
            <div class="col-sm-2">
                {{=recordset.constancia_cuil_conyuge}}

            </div>
</div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Alumno Regular Hijo</label>
            <div class="col-sm-2">
                 {{=recordset.constancia_Alumno_Regular_Hijo}}
            </div>
 </div>


<div class="form-group row">
    <label for="campo_fechaegr" class="col-sm-2 control-label">Alumno Regular Hijo</label>
            <div class="col-sm-2">
                 {{=recordset.constancia_Alumno_Regular_Hijo}}
            </div>
 </div>


<div class="form-group row">
            <label for="campo_nrolegajo" class="col-sm-2 control-label">Alumno Regular Empleado</label>
            <div class="col-sm-2">
                {{=recordset.constancia_Alumno_Regular_empleado}}
            </div>
    </div>



<div class="form-group row">
            <label for="campo_fechaegr" class="col-sm-2 control-label">Curriculum Empleado</label>
            <div class="col-sm-2">
                {{=recordset.curriculum_empleado}}
            </div>
</div>


<div class="form-group row">
                 <label for="campo_fechaegr" class="col-sm-2 control-label">Libreta Familia</label>
            <div class="col-sm-2">
                {{=recordset.libreta_familia}}
            </div>
    </div>


<div class="form-group row">
             <label for="campo_fechaegr" class="col-sm-2 control-label">Partida Nacimiento Hijos</label>
            <div class="col-sm-2">
                      {{=recordset.partida_nacimiento_hijos}}
            </div>
          </div>







{{ if fecha_parse is not None: }}
    {{=fecha_parse}}
{{pass}}
{{ if edad_num is not None: }} 
    <br>
    {{=fecha_parse}} ({{=edad_num}} años)
{{ pass}}
