{{extend 'layout.html'}}
<h1>Registrar Factura</h1>

<form class="form-inline">

    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
            <label for="campo_cliente">Cliente</label>
            <input type="text" class="form-control" id="campo_cliente" placeholder="Juan Perez">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="campo_fecha">Fecha</label>
            <input type="date" class="form-control" id="campo_fecha" placeholder="Juan Perez">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="campo_tipo">Tipo Comprobante:</label>
               <select class="form-control" id="campo_tipo">
                  <option>Factura A</option>
                  <option>Factura B</option>
                  <option>Nota de Credito</option>
                  <option>Nota de Debito</option>
                  <option>Remito</option>
                  <option>Recibo</option>
                </select>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Retira Local
            </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Envio Domicilio
            </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Garantia Extendida
            </label>
          </div>
        </div>
      <div class="col-md-4">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Efectivo
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Tarjeta
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Cheque
            </label>
          </div>
      </div>
    </div>

  <div class="col-md-4">
      <div class="form-group">
        <label for="campo_obs">Observaciones:</label>
        <textarea class="form-control" id="campo_obs" rows="3"></textarea>
      </div>
    </div>

   <div class="col-md-4">
      <div class="form-group">
        <button type="submit" class="btn btn-default">Siguiente</button>
      </div>
    </div>

</form>
