{{extend 'layout.html'}}
<h1>Registrar Factura</h1>

<form class="form-horizontal">

          <div class="form-group">
            <label for="campo_cliente" class="col-sm-1 control-label">Cliente</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="campo_cliente" placeholder="Juan Perez">
            </div>
            <label for="campo_fecha" class="col-sm-1 control-label">Fecha</label>
            <div class="col-sm-1">
                <input type="date" class="form-control" id="campo_fecha" placeholder="Juan Perez">
            </div>
            <label for="campo_tipo" class="col-sm-2 control-label">Tipo Comprobante:</label>
            <div class="col-sm-3">
               <select class="form-control" id="campo_tipo">
                  <option>Factura A</option>
                  <option>Factura B</option>
                  <option>Nota de Credito</option>
                  <option>Nota de Debito</option>
                  <option>Remito</option>
                  <option>Recibo</option>
                </select>
            </div>
          </div>

          <div class="form-group">
           <div class="col-sm-offset-1 col-sm-1">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Retira Local
            </label>
           </div>
           <div class="col-sm-2">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Envio Domicilio
            </label>
           </div>
           <div class="col-sm-2">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Garantia Extendida
            </label>
           </div>
           <div class="col-sm-6">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Efectivo
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Tarjeta
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Cheque
            </label>
          </div>
         </div>
      <div class="form-group">
        <label for="campo_obs" class="col-sm-1 control-label">Observaciones:</label>
        <div class="col-sm-11">
           <textarea class="form-control" id="campo_obs" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-default">Siguiente</button>
      </div>

</form>
