{{extend 'layout.html'}}
<h1>Reporte</h1>

<table class="table table-hover">
    <caption>{{=titulo}}</caption>
    <thead>
        <tr>
            <th>#</th> <th>Nombre</th> <th>Apellido</th> <th>Usuario</th> <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> <td><a class="btn btn-default" role="button" href="{{=URL(c="prueba",f="borrar",vars={"id":1,"nombre":"mark"})}}">Eliminar</a></td> </tr>
        <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> <td><a href="http://www.google.com.ar">Eliminar</a></td> </tr>
        <tr class="danger"> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> <td>Eliminar</td> </tr>
    </tbody>
</table>
