{{extend 'layout.html'}}
<h1>Reporte</h1>

<table class="table table-hover">
    <caption>Titulo opcional</caption>
    <thead>
        <tr>
            <th>#</th> <th>Nombre</th> <th>Apellido</th> <th>Usuario</th> 
        </tr>
    </thead>
    <tbody>
        <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr>
        <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr>
        <tr class="danger"> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr>
    </tbody>
</table>
