{{extend 'layout.html'}}
<h1>{{=message}}</h1>

<form class="form-horizontal" action="{{=URL(c="pagos", f="reporte_pagos")}}" method="POST">
  <div class="form-group ">
    <label for="desde" class="col-sm-2 control-label">Fecha Desde</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="desde" name="fecha_desde" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Fecha Hasta</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="hasta" name="fecha_hasta" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ordenar"> Ordenar alfabeticamente
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Generar Reporte" name="reporte_fecha">
    </div>
  </div>
</form>
<!-- Buscar por nombre -->
<form class="form-horizontal" action="{{=URL(c="pagos", f="reporte_pagos")}}" method="POST">
  <div class="form-group ">
    <label for="nombre_proveedor" class="col-sm-2 control-label">Nombre de Proveedor</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="nombre_proveedor" name="nombre_proveedor" placeholder="Nombre Proveedor">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Generar Reporte" name="reporte_nombre">
    </div>
  </div>
</form>
