{{extend 'layout.html'}}
<h1 align="center">CONFIRMAR</h1>
<h4 align="center"> ¿Confirma venta para:<b>" {{=reg_cliente.nombre_de_fantasia}} - {{=reg_cliente.razon_social}}"</b>, N° Comprobante: <b> "{{=nro_cbte}}"</b>, Por el importe de:<b> "${{=total}}"</b>?</h4>
<form class="form-horizontal" action="{{=URL(c="ventas", f="guardado")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div align="center">
          <button type="submit" class="btn btn-default">ACEPTAR</button>
        </div>
        </div>
</form>
<form class="form-horizontal" action="{{=URL(c="ventas", f="detalle_ventas")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div align="center">
          <button type="submit" class="btn btn-default">VOLVER</button>
        </div>
        </div>
</form>
