{{extend 'layout.html'}}
<h1 align="center">CONFIRMAR</h1>
<h4 align="center"> Confirmar venta para {{=reg_cliente.razon_social}}, N° Comprobante {{=nro_cbte}}, Por el importe de $ {{=total}}</h4>
<div class="form-group">
    <div class="col-sm-5"></div>
     <div class="col-sm-1">
         <a href="{{=URL(c="ventas",f="guardado")}}" class="btn btn-default" role="button">ACEPTAR</a>
         <a href="{{=URL(c="ventas",f="detalle_ventas")}}" class="btn btn-default" role="button">Volver</a>
     </div>
</div>
