{{extend 'layout.html'}}
<h1>DETALLE DE VENTA</h1>
<div class="form-group">
    <h4><caption>{{=titulo}}</caption></h4>
</div>
<form class="form-horizontal" action="{{=URL(c="ventas", f="agregar_descuento")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="produc" class="col-sm-1 control-label">PRODUCTO</label>
           <div class="col-sm-3">
                <select class="form-control" id="campo_tipo">
                  <option>Memoria Ram 16Gb</option>
                  <option>Disco Rigido 1Tb</option>
                  <option>Mother Asus XL-50bs</option>
                </select>
           </div>
        <label for="cant" class="col-sm-1 control-label">CANTIDAD</label>
           <div class="col-sm-1">
               <input type="number" class="form-control" id="cant" placeholder="Cantidad">
            </div>
               <label for="precunit" class="col-sm-2 control-label">PRECIO UNITARIO</label>
            <div class="col-sm-2">
               <input type="number" class="form-control" id="precunit" step="0.01" placeholder="Precio Unitario">
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
             <button type="submit" class="btn btn-default">AGREGAR ITEM</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>Items de Venta</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <th>IVA</th>
                <th>SubTotal + IVA</th>
                <th>Opciones</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td >Memoria Ram 16Gb</td>
                <td align="center">2</td>
                <td align="center">$800</td>
                <td align="center">$1600</td>
                <td align="center">10.5%</td>
                <td align="center">$1591.2</td>
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="borrar_item",vars={"id":1})}}">Eliminar</a><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="detalle_ventas",vars={"id":1})}}">Modificar</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>Disco Rigido 1 Tb</td> 
                <td align="center">1</td>
                <td align="center">$1000</td>
                <td align="center">$1000</td>
                <td align="center">10.5%</td>
                <td align="center">$1105</td>
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="borrar_item",vars={"id":1})}}">Eliminar</a><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="detalle_ventas",vars={"id":1})}}">Modificar</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mother Asus XL-50bs</td>
                <td align="center">1</td>
                <td align="center">$1200</td>
                <td align="center">$1200</td>
                <td align="center">10.5%</td>
                <td align="center">$1090.5</td>
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="borrar_item",vars={"id":1})}}">Eliminar</a><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="detalle_ventas",vars={"id":1})}}">Modificar</a></td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total:</th>
                 <td>$3786.7</td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1">
           <button type="submit" class="btn btn-default">ACEPTAR</button>
        </div>
     </div>
</form>
