{{extend 'layout.html'}}
<h1>DETALLE DE VENTA</h1>
<div class="form-group">
    <h4><caption>Nro. Comprobante: {{=nro_cbte}}, Fecha: {{=fecha}},
                 Cliente: {{=reg_cliente.razon_social}}, Tipo de Comprobante:{{=reg_cliente.tipo_factura}}
        </caption></h4>
</div>
<form class="form-horizontal" action="{{=URL(c="ventas", f="detalle_ventas")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="produc" class="col-sm-1 control-label">PRODUCTO</label>
           <div class="col-sm-3">
                <select class="form-control" id="campo_tipo" name="id_producto">
                    {{for reg_producto in lista_productos:}}
                  <option value="{{=reg_producto.id_producto}}">{{=reg_producto.detalle_producto}}</option>
                  {{pass}}
                </select>
           </div>
        <label for="cant" class="col-sm-1 control-label">CANTIDAD</label>
           <div class="col-sm-1">
               <input type="number" name="cantidad" class="form-control" id="cant" placeholder="Cantidad">
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
             <input type="submit" name="agregar_item" class="btn btn-default" value="AGREGAR ITEM">
        </div>
    </div>
</form>
<form class="form-horizontal" action="{{=URL(c="ventas", f="agregar_descuento")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>ITEMS DE VENTA</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <th>IVA</th>
                <th>SubTotal + IVA</th>
                <th>Opciones</th>
            </tr>
          </thead>
        <tbody>
            {{subtotal = 0}}
            {{for item in items_venta:}}
            <tr>
                <th scope="row">{{=item["id_producto"]}}</th>
                <td >{{=item["detalle_producto"]}}</td>
                <td align="center">{{=item["cantidad"]}}</td>
                <td align="center">{{=item["precio_venta"]}}</td>
                <td align="center">{{=item["precio_venta"] * item["cantidad"]}}</td>
                <td align="center">{{=item["precio_venta"] * item["cantidad"] *item["alicuota_iva"]/100.00}}</td>
                <td align="center">{{=item["precio_venta"] * item["cantidad"] + item["precio_venta"] * item["cantidad"] *item["alicuota_iva"]/100.00}}</td>
                {{subtotal = subtotal + (item["precio_venta"] * item["cantidad"] + item["precio_venta"] * item["cantidad"] *item["alicuota_iva"]/100.00) }}
                <td><form name="limpiar" method="post" action="#">
<input type="text" name="campo" size="40" maxlength="40" Value="Pulsa para limpiar" onclick="this.value=''";>
</form></td>
            </tr>
            {{pass}}
        </tbody>
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total $:</th>
                 <td>{{=subtotal}}</td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1">
           <input type="submit" class="btn btn-default" value="Confirmar">
        </div>
     </div>
</form>
