{{extend 'layout.html'}}
<h1>LISTADO DE VENTAS POR CLIENTE</h1>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
              <table class="table table-hover">
              <caption>{{=titulo}}</caption>
          <thead>
            <tr>
                <th>Fecha</th>
                <th class="">Cliente</th>
                <th>Numero de Comprobante</th>
                <th>Tipo de Comprobante</th>
                <th>IVA</th>
                <th>Importe Total</th>
                <th>Tipo de Pago</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <th scope="row">01/10/2016</th>
                <td>Jorge Benitez</td>
                <td>000000001</td>
                <td>B</td>
                <td>$36.75</td>
                <td>$386.75</td>
                <td>Efectivo</td>
               
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="vista_previa",vars={"id":1})}}">Vista Del Comprobante</a>
            </tr>
            <tr>
                <th>30/10/2016</th>
                <td>ZIA </td> 
                <td>000000001</td>
                <td>A</td>
                <td>$189</td>
                <td>$1790.1</td>
                <td>Credito</td>
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="vista_previa",vars={"id":1})}}">Vista Del Comprobante</a>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="form-group" class="col-sm-2">
    <div class="col-md-3">
       <table class="table table-bordered">
           <tbody>
               <tr> <th scope="row">Cantidad de Ventas</th>
                    <td>2</td>
               </tr>
               <tr> <th scope="row">Valor total del Periodo</th>
                    <td>2176.85</td>
               </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="form-group" class="col-sm-2">
         <a href="{{=URL(c="ventas",f="reporte_ventas")}}" class="btn btn-default" role="button">Volver</a>
    </div>
</form>
