{{extend 'layout.html'}}
<h1>REPORTE DE VENTAS POR CLIENTE</h1>

<form class="form-horizontal" action="{{=URL(c="ventas", f="lista_ventas_por_cliente")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="desde" class="col-sm-2 control-label">FECHA DESDE</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" id="desde" name="fecha_desde" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">FECHA HASTA</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" id="hasta" name="fecha_hasta" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="campo_cliente" class="col-sm-2 control-label">CLIENTE</label>
            <div class="col-sm-3">
               <select class="form-control" id="campo_cliente" name="id_cliente">
                  {{for reg_cliente in lista_clientes:}}
                  <option value="{{=reg_cliente.id_cliente}}">{{=reg_cliente.nombre_de_fantasia}} - {{=reg_cliente.razon_social}}</option>
                  {{pass}}
               </select>
            </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Generar Reporte</button>
        </div>
    </div>
</form>
