{{extend 'layout.html'}}
<h1>VISTA PREVIA DEL COMPROBANTE</h1>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
        <h2><IMG SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180 /> C.V Technical Service</h2>
        </div>
        <div class="col-xs-6 text-right">
            <h1>Factura Tipo: A</h1>
            <h1><small>N° {{=venta.numero_factura}}</small></h1>
            <h1><small>Fecha: {{=venta.fecha}}</small></h1>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>De: <a href="#">Claudia Vargas</a></h4></div>
            <div class="panel-body">Dirección detalles más detalles</div>
            </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Para : <a href="#">{{=cliente.razon_social}}</a></h4></div>
            <div class="panel-body">DOMICILIO: {{=cliente.direccion}} {{=cliente.numero}}</div>
            <div class="panel-body">LOCALIDAD: Pontevedra</div>
            <div class="panel-body">COND. I.V.A: Responsable Inscripto</div>
            <div class="panel-body">CUIT o DNI: 20-33465017-1</div>
            </div>
        </div>
        </div>
    </div>
<div class="form-group">
<div class="row">
<div class="col-xs-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h4>Codigo de Articulo</h4></th>
            <th><h4>Detalle</h4></th>
            <th><h4>Cantidad</h4></th>
            <th><h4>Precio Unitario</h4></th>
            <th><h4>Total</h4></th>
        </tr>
    </thead>
    <tbody>
        {{for item in items:}}
        <tr>
            <td>{{=item.detalle_ventas.id_producto}}</td>
            <td>{{=item.producto.detalle_producto}}</td>
            <td class=" text-center ">{{=item.detalle_ventas.cantidad}}</td>
            <td class=" text-right ">${{=item.producto.precio_producto}}</td>
            <td class=" text-right ">${{=item.producto.precio_producto * item.detalle_ventas.cantidad}}</td>
        </tr>
        {{pass}}
    </tbody>
</table>
</div>
</div>
</div>
<div class="form-group">
<div class="row">
<div class="col-xs-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h5><B>TOTAL BRUTO</B></h5></th>
            <th><h5>Descuento "(10%)" </h5></th>
            <th><h5>Descuento "(15%)" </h5></th>
            <th><h5>Descuento "(20%)" </h5></th>
            <th><h5><B>SUB TOTAL</B></h5></th>
            <th><h5>Impuesto IVA "(10.5%)" </h5></th>
            <th><h5>Impuesto IVA "(21%)" </h5></th>
            <th><h5><B>TOTAL</B></h5></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class=" text-right "><B>$3800</B></td>
            <td class=" text-right ">$800</td>
            <td class=" text-right ">$0</td>
            <td class=" text-right ">$0</td>
            <td class=" text-right "><B>$3000</B></td>
            <td class=" text-right ">$390</td>
            <td class=" text-right ">$0</td>
            <td class=" text-right "><B>$3390</B></td>
        </tr>
    </tbody>
</table>
</div>
</div>
<div class="form-group">
<div class="col-xs-5">
       <h2><IMG SRC="http://www.codigodebarras.com/UserFiles/Image/JPG/CB.jpg" WIDTH=500 HEIGHT=100 /> </h2>
</div>
</div>
</form>
