{{extend 'layout.html'}}
<h1>VISTA PREVIA DE LA FACTURA</h1>
<form class="form-horizontal">
<div class="form-group">
            <label for="campo_tipo" class="col-sm-2 control-label">TIPO DE FACTURA</label>
            <div class="col-sm-1">
               <select class="form-control" id="campo_tipo">
                  <option>A</option>
                  <option>B</option>
                </select>
            </div>
            <label for="campo_cliente" class="col-sm-1 control-label">CLIENTE</label>
            <div class="col-sm-2">
               <select class="form-control" id="campo_cliente">
                  <option>Zia-Ivan Zavala</option>
                  <option>Leyendo Vinos despertando Sentidos- Francisco Rodriguez</option>
                  <option>Jose Perez</option>
                </select>
            </div>
            <label for="campo_numero" class="col-sm-2 control-label">NUMERO DE FACTURA</label>
            <div class="col-sm-2">
               <select class="form-control" id="campo_numero">
                  <option>0001</option>
                  <option>0002</option>
                  <option>0003</option>
                </select>
            </div>
    </pre>
<div class="col-xs-6">
<h1><a href=" "><img alt="" src="logo.png" /> Logo aquí </a></h1>
</div>
<div class="col-xs-6 text-right">
<h1>FACTURA</h1>
<h1><small>Factura #001</small></h1>
</div>
 
<hr />
 
<pre>Sección siguiente
    
    
    
    </div>
</form>
