{{extend 'layout.html'}}
<h1>Registrar deposito nuevo</h1>
<br>
</br>

<form class="form-horizontal">

    <div class="form-group">
            <label for="codigo_deposito" class="col-sm-1 control-label">Codigo del deposito</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="codigo_deposito" step="0001" placeholder="0001">
            </div>
     </div>

<br>
</br>

    <div class="form-group">
            <label for="calle" class="col-sm-1 control-label">Calle</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="calle"  placeholder="Direccion">
            </div>
            <label for="numero" class="col-sm-1 control-label">Numero</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="numero"  placeholder="123">
            </div>
     </div>


<br>
</br>


        <div class="form-group">
            <label for="codigo_deposito" class="col-sm-1 control-label">Tamaño del deposito</label>
            <div class="col-sm-3">
                <input type="integer" class="form-control" id="codigo_deposito"  placeholder="10 m2 ">
            </div>
         </div>

<br>
</br>

         <div class="form-group">
            <label for="campo_tipo" class="col-sm-1 control-label">Custodia</label>
            <div class="col-sm-2">
               <select class="form-control" id="campo_tipo">
                  <option>Si</option>
                  <option>No</option>
               </select>
            </div>
         </div>


<br>
</br>

    <div class="form-group">
            <label for="campo_tipo" class="col-sm-1 control-label">Disponibilidad</label>
            <div class="col-sm-2">
               <select class="form-control" id="campo_tipo">
                  <option>Habilitado</option>
                  <option>Desabilitado</option>
               </select>
            </div>
     </div>

<br>
</br>

    <div class="form-group">
            <label for="campo_tipo" class="col-sm-1 control-label">Tipo de producto</label>
            <div class="col-sm-2">
               <select class="form-control" id="campo_tipo">
                  <option>Hardware</option>
                  <option>Software</option>
               </select>
            </div>
     </div>


<br>
</br>

            <button type="submit" class="btn btn-default">Guardar</button>

            <button type="submit" class="btn btn-default">Cancelar</button>
<br>
</br>
