{{extend 'layout.html'}}
<h1></h1>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
        <h2><IMG SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180 /> C.V Technical Service</h2>
        </div>
        <div class="col-xs-6 text-right">
            <h1>Remito</h1>
            <h1><small>N° 0001</small></h1>
            <h1><small>Fecha: {{ =fecha}}</small></h1>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>De: <a href="#">Claudia Vargas</a></h4></div>
            <div class="panel-body">Dirección detalles más detalles</div>
            </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Para : <a href="#">{{=reg_cliente.nombre_de_fantasia}}</a></h4></div>
            <div class="panel-body">DOMICILIO: {{=reg_cliente.direccion}} {{=reg_cliente.numero}}</div>
            <div class="panel-body">LOCALIDAD: {{=reg_cliente.localidad}}</div>
            <div class="panel-body">TELEFONO: {{=reg_cliente.telefono}}</div>
            <div class="panel-body">CUIT o DNI: {{=reg_cliente.dni}}</div>
            <div class="panel-body">COND. I.V.A: {{=reg_cliente.condicion_frente_al_iva}}</div>
            </div>
        </div>
        </div>
    </div>
<div class="form-group">
<div class="row">
<div class="col-xs-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h4>Codigo</h4></th>
            <th><h4>Detalle</h4></th>
            <th><h4>Cantidad</h4></th>
            
            
        </tr>
    </thead>
    <tbody>
            {{for i, item in enumerate(items_agregados):}}
            <tr>
                <th scope="row">{{=item["id_producto"]}}</th>
                <td >{{=item["detalle_producto"]}}</td>
                <td align="center">{{=item["cantidad"]}}</td>
                
                
            </tr>
             {{pass}}
        </tbody>
</table>
</div>
</div>
</div>

</form>

<form class="form-horizontal">

          <div class="form-group">
            <label for="campo_cliente" class="col-sm-6 control-label">FIRMA</label>
           <div class="col-sm-5">
           <textarea class="form-control" id="campo_obs" rows="4"></textarea>
              </div>
          </div>

<form class="form-horizontal">

          <div class="form-group">
            <label for="campo_cliente" class="col-sm-6 control-label">ACLARACION</label>
           <div class="col-sm-5">
           <textarea class="form-control" id="campo_obs" rows="4"></textarea>
              </div>
          </div>
