{{extend 'layout.html'}}
<h1>Emitir remito</h1>
<br>
</br>

<form class="form-horizontal">

          <div class="form-group">
            <label for="numero_remito" class="col-sm-2 control-label">Numero de remito</label>
            <div class="col-sm-3">
                <input type="integer" class="form-control" id="numero_remito" placeholder="0000">
            </div>


              <label for="fecha" class="col-sm-2 control-label">Fecha de emision</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="fecha" placeholder="1/09/2016">
            </div>
          </div>
     <br>
</br>


         <div class="form-group">
            <label for="cliente" class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-3">
                <select class="form-control">
                          <option>Nombre cliente</option>
                          <option>Nicolas Cugliari</option>
                          <option>Elio Coro</option>
                          <option>Francisco Rodriguez</option>
                          <option>Julian Aquino</option>
                          <option>Javier Rodriguez</option>
                </select>
             </div>
             
        </div>


<br>
</br>

         <br>
</br>

            <a class="btn btn-default" role="button" href="{{=URL(c="stock",f="emision_remito2",vars={"id":1,"nombre":"mark"})}}">Siguiente</a> <a class="btn btn-default" role="button" href="{{=URL(c="default",f="index",vars={"id":1,"nombre":"mark"})}}">Cancelar</a>
<br>
</br>
