{{extend 'layout.html'}}
<h1></h1>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
        <h2><IMG SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180 /> C.V Technical Service</h2>
        </div>
        <div class="col-xs-6 text-right">
            <h1>Remito</h1>
            <h1><small>N° 0001</small></h1>
            <h1><small>Fecha:</small></h1>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>De: <a href="#">Claudia Vargas</a></h4></div>
            <div class="panel-body">Dirección detalles más detalles</div>
            </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Para : <a href="#"></a></h4></div>
            <div class="panel-body">DOMICILIO: </div>
            <div class="panel-body">LOCALIDAD: </div>
            <div class="panel-body">TELEFONO: </div>
            <div class="panel-body">CUIT o DNI: </div>
            <div class="panel-body">COND. I.V.A: </div>
            </div>
        </div>
        </div>
    </div>
<div class="form-group">
<div class="row">
<div class="col-xs-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h4>Codigo</h4></th>
            <th><h4>Detalle</h4></th>
            <th><h4>Cantidad</h4></th>
            
            
        </tr>
    </thead>
    <tbody>
          
        </tbody>
</table>
</div>
</div>
</div>

</form>

<form class="form-horizontal">

          <div class="form-group">
            <label for="campo_cliente" class="col-sm-6 control-label">FIRMA</label>
           <div class="col-sm-5">
           <textarea class="form-control" id="campo_obs" rows="4"></textarea>
              </div>
          </div>

<form class="form-horizontal">

          <div class="form-group">
            <label for="campo_cliente" class="col-sm-6 control-label">ACLARACION</label>
           <div class="col-sm-5">
           <textarea class="form-control" id="campo_obs" rows="4"></textarea>
              </div>
          </div>
