{{extend 'layout.html'}} 
{{if cantidad==0:}}
<p class='alert alert-info'>
    No hay entradas pendientes
</p>
{{else:}}

<table class="table table-bordered table table-hover">
    <thead>
    <tr style="background-color:black;color:white;">
        <td>#</td>
        <td>fecha</td>
        <td>proveedor</td>
        <td>factura</td>
        <td>forma de pago</td>
        <td>
            
        </td>
    </tr></thead>
    <tbody>
        {{for r in rs:}}
        <tr>
        <td><a target="_blank" href="{{=URL(c='compra',f='compra_guardada', args=r['id_compra'])}}">{{=r['id_compra']}}</a></td>
        <td>{{=r['fecha_factura']}}</td>
        <td>{{=r['razon_social']}}</td>
        <td>{{=r['tipo_factura']}}</td>
        <td>{{=r['forma_pago']}}</td>
            <td><a class="btn btn-danger" href="{{=URL(c='stock',f='ingreso_mercaderia',args=r['id_compra'])}}">Ingresar mercaderia</a></td>
    </tr>
        {{pass}}
    </tbody>
</table>
{{pass}}
