{{extend 'layout.html'}}
<h1>Reporte de existencia</h1>
<h3>
<table  class="table table-striped" >


    <caption></caption>
    <thead>
        <tr>
            <th>Codigo</th> <th>Producto</th> <th>Precio</th> <th>Cantidad</th> <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr> <th scope="row">0001</th> <td>Monitor</td> <td >$1500</td> <td>5</td> <td><a class="btn btn-default" role="button" href="{{=URL(c="stock",f="modificacion_producto",vars={"id":1,"nombre":"mark"})}}">Editar</a> <a class="btn btn-default" role="button" href="{{=URL(c="stock",f="borrar",vars={"id":1,"nombre":"mark"})}}">Eliminar</a></td></tr>
        <tr> <th scope="row">0002</th> <td>Mouse</td> <td>$110</td> <td>15</td><td><a class="btn btn-default" role="button" href="{{=URL(c="stock",f="modificacion_producto",vars={"id":1,"nombre":"mark"})}}">Editar</a> <a class="btn btn-default" role="button" href="{{=URL(c="stock",f="borrar",vars={"id":1,"nombre":"mark"})}}">Eliminar</a></td> </tr>
        <tr> <th scope="row">0003</th> <td>Memorias Ram</td> <td>$300</td> <td>10</td><td><a class="btn btn-default" role="button" href="{{=URL(c="stock",f="modificacion_producto",vars={"id":1,"nombre":"mark"})}}">Editar</a> <a class="btn btn-default" role="button" href="{{=URL(c="stock",f="borrar",vars={"id":1,"nombre":"mark"})}}">Eliminar</a></td> </tr>
    </tbody>
</table>
</h3>
