{{extend 'layout.html'}}
<h1>Reporte de existencia</h1>
<h3>
<table  class="table table-bordered table-hover" >
    <thead>
        <tr>
            <th>Codigo</th> <th>Producto</th> <th>Costo</th> <th P align="center">Disponibles</th> 
        </tr>
    </thead>
    <tbody>
        {{for s in reporte:}}
        <tr>
               <td>{{=s["id_producto"]}}</td> 
               <td>{{=s["detalle_producto"]}}</td> 
               <td>$ {{=s["costo"]}}</td>
               <td>{{=s["cantidad"]}}</td> 
                
            
        </tr>
        {{pass}}
    </tbody>
</table>
</h3>
