{{extend 'layout.html'}}
<body>
    <h1><b>Formulario Orden de Compras</b></h1>
    <br>
    <form class="form-horizontal"  action="{{=URL(c="compra", f='detalle_orden_compras')}}" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="fecha" class="col-sm-2 control-label">Fecha</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="fecha" name="fecha" placeholder="">
                </div>
        </div>
        <div class="form-group">
            <label for="inicio_avtividades" class="col-sm-2 control-label">Inicio de Actividades:</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="inicio_avtividades" name="inicio_avtividades" placeholder="">
                </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Señor / es:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="nombre" name="nombre" placeholder="">
                </div>
            <label for="codigo_postal" class="col-sm-2 control-label">Código Postal:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="codigo_postal" name="codigo_postal" placeholder="">
                </div>
        </div>
        <div class="form-group">
            <label for="domicilio" class="col-sm-2 control-label">Domicilio:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="domicilio" name="domicilio" placeholder="">
                </div>
            <label for="localidad" class="col-sm-2 control-label">Localidad:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="localidad" name="localidad" placeholder="">
                </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="iva" class="col-sm-2 control-label">I.V.A.:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="iva" name="iva" placeholder="">
                </div>
            <label for="cuit" class="col-sm-2 control-label">C.U.I.T:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="cuit" name="cuit" placeholder="">
                </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="forma_envio" class="col-sm-2 control-label">Condición de Venta:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="forma_envio" name="forma_envio" placeholder="">
                </div>
            <label for="vendedor" class="col-sm-2 control-label">Vendedor:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="vendedor" name="vendedor" placeholder="">
                </div>
        </div>
        <div class="form-group">
            <label for="fecha_entrega" class="col-sm-2 control-label">Entrega Antes del:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="fecha_entrega" name="fecha_entrega" placeholder="">
                </div>
            <label for="lugar_entrega" class="col-sm-2 control-label">Lugar de Entrega:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="lugar_entrega" name="lugar_entrega" placeholder="">
                </div>
        </div>
        <div class="form-group">
            <label for="despachar" class="col-sm-2 control-label">Despachar por:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="despachar" name="despachar" placeholder="">
                </div>
            <label for="observaciones" class="col-sm-2 control-label">Observaciones:</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="observaciones" name="observaciones" placeholder="">
                </div>
        </div>
         <div class="form-group">
            <label for="fecha_impresion" class="col-sm-2 control-label">Fecha de Impresión</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="fecha_impresion" name="fecha_impresion" placeholder="">
                </div>
        </div>
        <div class="col-sm-7">
              <center><label>
                  <input type="checkbox"> Original
                  <input type="checkbox"> Duplicado
                  <input type="checkbox"> Triplicado
              </label></center>
        </div>
        <br>
        <br>
        <br>
    <center>
        <input type="submit" class="btn btn-default" href="{{=URL(c="compra",f="detalle_orden_compras",vars={"id":1,"nombre":"mark"})}}" value="DETALLE ORDEN COMPRA" name="boton_enviar"></a>
        <a class="btn btn-default" role="button" href="{{=URL(c="compra",f="formulario_orden_compras",vars={"id":1,"nombre":"mark"})}}">Cancelar</a>
    </center>
        <center>
            <footer>
                <small>Sistema Contable Módulo Compras Sector Formulario Compras</small>
                <address>AdminWebPro</address>
            </footer>
        </center>
    </form>
</body>
