{{extend 'layout.html'}}
<h1>Formulario de Compras</h1>
<head>
<script>

function validar_numero_factura(numero_factura){

alert ("pasó");

alert (numero_factura);
var i;

alert (lista_numero_factura);
	for (i =0;i<lista_numero_factura.length;i++){

	alert (lista_numero_factura);
	alert ("recorrer");

	if(lista_numero_factura[i] == numero_factura){

		alert("El valor " + numero + " ya existe en la base de datos");
	}
	}
}
</script>
</head>
<body>
    <br>
    <form class="form-horizontal"  action="{{=URL(c="compra", f="detalle_compras")}}" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="razon_social" class="col-sm-2 control-label">Proveedor</label>
            <div class="col-sm-3">
               <select class="form-control" id="campo_proveedor" name="id_proveedor"><!--se define el combo -->
                  {{for registro_proveedor in lista_proveedores:}}<!--se recorre la lista de proveedores  para mostrar las opciones del combo -->
                  <option value="{{=registro_proveedor.id_proveedor}}">{{=registro_proveedor.razon_social}}</option><!--el codigo id_proveedor y va a mostrar razón social correspondiente a ese id en pantalla -->
                  {{pass}}<!--cierra el for -->
               </select>
            </div>
            <div class="form-group">
                <label for="numero_factura" class="col-sm-2 control-label">N°: Factura</label>
                <div class="col-sm-3">
                    <input pattern = "[0-9.]+" type="text" class="form-control" id="numero_factura" name="numero_factura" placeholder="000000000000" onChange="validar_numero_factura(this.value);" required><!--required me valida que eñ campo no quede vacio-->
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="tipo_factura" class="col-sm-2 control-label">Tipo de Factura</label>
            <div class="col-sm-3">
                <select class="form-control" id="factura" name="tipo_factura">
                    <option>Factura A</option>
                    <option>Factura B</option>
                </select>
            </div>
	        <div class="form-group">
                <label for="forma_pago" class="col-sm-2 control-label">Forma de Pago</label>
                <div class="col-sm-3">
                    <select class="form-control" id="pago" name="forma_pago">
                        <option>Efectivo</option>
                        <option>Cheques</option>
                    </select>
                </div>
	       </div>
	   </div>
        <div class="form-group">
            <label for="fecha_factura" class="col-sm-2 control-label">Fecha Factura</label>
            <div class="col-sm-3">
                <input type="date" value={{=fecha}} class="form-control" id="fecha_factura" name="fecha_factura" placeholder=""><!--se le asigna fecha como valor traido del controlador (variable que contiene datetime.now)-->
            </div>
        </div>
        <center>
            <input type="submit" class="btn btn-default" value="DETALLE COMPRA" name="boton_enviar"></a>

            <a class="btn btn-default" role="button" href="{{=URL(c="compra",f="formulario_compras")}}">Cancelar</a>

        </center>
        <br>
	    <center>
		    <footer>
			    <small>Sistema Contable Módulo Compras Sector Formulario Compras</small>
			    <address>AdminWebPro</address>
		    </footer>
	    </center>
    </form>
</body>
