{{extend 'layout.html'}}
<br><br>
<h1>Informe Subdiario</h1>

<form class="form-horizontal" action="{{=URL(c="compra", f="informe_subdiarioa")}}" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">volver a la Busqueda</button>
    </div>
  </div>
</form>
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">


<table class="table" >
<style> table  td:nth-child(7){text-align: Right;}
               td:nth-child(8){text-align: center;}
               td:nth-child(9){text-align: center;}
               td:nth-child(10){text-align: center;}
               th:nth-child(7){text-align: center;}
               th:nth-child(8){text-align: center;}
               th:nth-child(9){text-align: center;}
               th:nth-child(10){text-align: center;}
         </style>

    <caption>Lista del Subdiario</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>ID Proveedor</th>
            <th>N°Factura</th>
            <th>CUIT</th>
            <th>Subtotal</th>
            <th>IVA</th>
            <th>Total</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1/9/2016</td>
                <td>1</td>
                <td>00001</td>
                <td>$ 30-23456789-2</td>
                <td>$ 300</td>
                <td>$ 30</td>
                <td>$ 330</td>
            </tr>
            
    <div class="form-group" class="col-sm-2">
    <div class="col-md-3">
       <table class="table table-bordered">
           <tbody>
               <tr> <th scope="row">Cantidad de Compras</th>
		    <center>
                    <td>5</td>
               </tr>
               <tr> <th scope="row">Valor total </th>
                    <td>1782</td>
               </tr>
            </tbody>
        </table>
    </div>
    </div>
       </tbody>
</table>
