{{extend 'layout.html'}}
<br>
<br>
<h1>Listado de Proveedores</h1>

<table class="table table-hover ">
<style> table td:nth-child(1) {text-align: center;}
         </style>
    <caption>Listado Proveedor</caption>
    <thead>
         <style>
            th {
                    color: blak;
                    font-size: 10pt;
                    margin-top:12px;
            }
            td {
                    color: blak;
                    font-size: 8pt;
                    margin-top:12px;
            }
        </style>
        <tr>
            <th>ID Proveedor</th>
            <th>Cuit</th>
            <th>Razón Social</th>
            <th>Ingresos Brutos</th>
            <th>Cond. IVA</th>
            <th>Domicilio</th>
            <th>Localidad</th>
            <th>C.P.</th>
            <th>Prov.</th>
            <th>Pais</th>
            <th>N°Tel</th>
            <th>N°Cel</th>
            <th>Email</th>
            <th>Web</th>
        </tr>
    </thead>
    <tbody>
	{{for i, reg_proveedor in enumerate (lista_proveedor):}}
        </tr>
            <th scope="row">{{=i}}</th>
                <td>{{=reg_proveedor.id_proveedor}}</td>
                <td>{{=reg_proveedor.cuit}}</td>
                <td>{{=reg_proveedor.razon_social}}</td>
                <td>{{=reg_proveedor.ingreso_bruto}}</td>
                <td>{{=reg_proveedor.condicion_iva}}</td>
                <td>{{=reg_proveedor.domicilio}}</td>
                <td>{{=reg_proveedor.localidad}}</td>
                <td>{{=reg_proveedor.codigo_postal}}</td>
                <td>{{=reg_proveedor.provincia}}</td>
                <td>{{=reg_proveedor.pais}}</td>
                <td>{{=reg_proveedor.telefono}}</td>
                <td>{{=reg_proveedor.celular}}</td>
                <td>{{=reg_proveedor.email_proveedor}}</td>
                <td>{{=reg_proveedor.pagina_web}}</td>
                
        </tr>
	{{pass}}
    </tbody>
<input type="button" name="imprimir" value="Imprimir listado" onclick="window.print();">
</table>
