{{extend 'layout.html'}}
<h1><b>Orden de Compras</h1></b>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h2><a href="#">C.V. Technical Server</a></h2>
                            <h4><B>Mayorista Informaticos</B></h4>
                            <h4><B>--------------------------------------------------------------------------------------------</B></h4>
                            <h6><B>Puerto Argentino </B></h6>
                            <h6><B>Telefono 02202-465889</B></h6>
                            <h6><B>I.V.A. Responsable Inscripto</B></h6>
                            <h4><B>--------------------------------------------------------------------------------------------</B></h4>
                            <h6><B>mail cv@techicalserver.com</B></h6>
                        </center>
                    </div>
                </div>
            </div>
             <div class="col-xs-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h4><B>X<br></B></h4>
                        </center>
                    </div>
                </div>
            </div> 
             <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h6><B>Documento no</B></h6>
                            <h6><B>Válido como</B></h6>
                            <h6><B>Factura</B></h6>
                        </center>
                    </div>
                </div>
            </div>  
             <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h6><B>Oreden de Compra</B></h6>
                        </center>
                    </div>
                </div>
            </div>     
             <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h6><B>N° (...)</B></h6>
                        </center>
                    </div>
                </div>
            </div>
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br>     
            <div class="col-xs-2"></div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h4>Fecha</h4></center>
                    </div>
                        <div class="panel-body"><B>Gonzalez Catan (...) de (...) de (...)</B></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body"><B>C.U.I.T. N°:</B><B aling="right">20-26787633-4</B></div>
                    <div class="panel-body"><B>Ingresos Brutos N°</B></div>
                    <div class="panel-body"><B>Inicio de Actiidades: (...)</B></div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body"><B>Senor / es:...................................</B><B aling="right">C.P.: .................................</B></div>
                    <div class="panel-body"><B>Domicilio: ...................................</B> Localidad: ............................................</div>
                </div>
            </div>
        </div>
    </div>